<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="parts/common :: head"></head>
<head>
    <link rel="stylesheet" href="/static/table-main.css">
    <link rel="stylesheet" href="/static/table-util.css">

    <meta name="robots" content="noindex, follow">
    <title>Bucket</title>
</head>

<body>
<header th:insert="parts/menu"></header>
<div class="container">
    <h3>All sum -> <b th:text="${bucket.sum}">1000</b></h3>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">
                    <div class="row header">
                        <div class="cell">
                            Title
                        </div>
                        <div class="cell">
                            Amount
                        </div>
                        <div class="cell">
                            Price
                        </div>
                        <div class="cell">
                            Sum
                        </div>
                        <div class="cell">

                        </div>
                    </div>
                    <div class="row" th:each="detail : ${bucket.bucketDetails}">
                        <div class="cell" data-title="Title" th:text="${detail.title}">
                            Vincent Williamson
                        </div>
                        <div class="cell" data-title="Amount" th:text="${detail.amount}">
                            31
                        </div>
                        <div class="cell" data-title="Price" th:text="${detail.price}">
                            iOS Developer
                        </div>
                        <div class="cell" data-title="Sum" th:text="${detail.sum}">
                            Washington
                        </div>
                        <div class="cell" data-title="">
                            <a th:href="@{/{id}/removeBucket(id=${detail.productId})}">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--  <div class="container">-->
<!--    <ul class="responsive-table">-->
<!--      <li class="table-header">-->
<!--        <div class="col col-1">Title</div>-->
<!--        <div class="col col-2">Amount</div>-->
<!--        <div class="col col-3">Price</div>-->
<!--        <div class="col col-4">Sum</div>-->
<!--        <div class="col col-5"></div>-->
<!--      </li>-->
<!--      <li class="table-row" >-->
<!--        <div class="col col-1" data-label="Title" >42235</div>-->
<!--        <div class="col col-2" data-label="Amount" >John Doe</div>-->
<!--        <div class="col col-3" data-label="Price" >$350</div>-->
<!--        <div class="col col-4" data-label="Sum" >Pending</div>-->
<!--        <div class="col col-5" data-label="Remove"></div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
</div>
</body>
</html>