<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="parts/common :: head"></head>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header th:insert="parts/menu"></header>


<div class="container">
    <br>
    <h1>User profile</h1>

    <form style="margin-top: 30px" th:action="@{/users/profile}" th:object="${user}" method="post">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"> User name :</label>
            <div class="col-sm-3">
                <input type="text" name="username" th:field="*{username}" class="form-control" placeholder="User name"/>
                <!--            <p th:if="${usernameError != null}" th:text="${usernameError}"></p>-->
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"> Email: </label>
            <div class="col-sm-3">
                <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}? 'is-invalid'"
                   th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-3">
                <input type="password" name="password" th:field="*{password}" class="form-control" placeholder="Password"/>

                <p th:if="${password != null}" th:text="${password}"></p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Repeat password: </label>
            <div class="col-sm-3">
                <input type="password" name="matchingPassword" th:field="*{matchingPassword}" class="form-control" placeholder="Repeat password"/>
                <p th:if="${#fields.hasErrors('matchingPassword')}" th:class="${#fields.hasErrors('matchingPassword')}? 'is-invalid'"
                   th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"></p>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>

    <div th:replace="parts/common :: scripts"></div>
</div>
</body>
</html>