<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="parts/common :: head"></head>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header th:insert="parts/menu"></header>
<div class="container" style="margin-top: 50px">
    <h1>User editor</h1>

    <form action="/user" method="post" th:object="${user}">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"> Username: </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="username" th:value="${user.username}">
            </div>
        </div>

        <div th:each="rrole : ${T(com.example.KursovaWebSite.models.user.Role).values()}">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" th:field="${user.role}" th:name="${rrole.name}" th:value="${rrole}"
                       class="custom-control-input">
                <label class="custom-control-label" th:for="${#ids.prev('role')}" th:text="${rrole}">model</label>
            </div>
        </div>
        <input type="hidden" th:value="${user.id}" name="userId">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

</div>
</body>
</html>