<div th:fragment="footer">
    <div class="foot">
        <div>
            <div class="nav mr-30">
                <ul>
                    <li><a href="#">ALL PRODUCTS</a></li>
                    <li><a href="#">ABOUT STORE</a></li>
                </ul>
            </div>

            <div class="logo">
                <a th:href="@{/}" class="logo scale make-it-slow">
                    <img src="/site img/img_1.png" alt="logo">
                </a>
            </div>

            <div class="nav ml-30">
                <ul>
                    <li><a href="#">Terms&Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

    <label>All rights reserved</label>
</div>