<div th:fragment="header" class="head"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="/style.css">
    <a th:href="@{/}" class="logo scale make-it-slow">
        <img src="/site img/img_1.png" alt="logo">
    </a>

    <div class="nav ml-30">
        <ul>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}">USERS</a></li>
        </ul>
    </div>

    <div class="nav">
        <ul>
            <li>
                <form th:action="@{/search-result}" th:method="GET">
                    <input type="text" id="search" class="form-control" name="keyword"
                           placeholder="Search"/>
                </form>
            </li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/liked}"><img class="scale" src="/site%20img/img_4.png"
                                                                              alt="liked"></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/bucket}"><img class="scale" src="/site%20img/img.png"
                                                                               alt="bucket"></a></li>
        </ul>
        <div sec:authorize="isAuthenticated()" class="nav" style="margin: auto 20px;">
            <ul>
                <li>Hello, <a th:href="@{/user/profile}"><span sec:authentication="principal.username"></span></a></li>
            </ul>
            <ul>
                <li th:insert="parts/common :: logOut"></li>
            </ul>
        </div>
        <div sec:authorize="!isAuthenticated()" class="nav" style="margin: auto 20px;">
            <ul>
                <li>Hello, Unknown. Please <a th:href="@{/login}">Log in</a></li>
            </ul>
        </div>
    </div>

</div>

