<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="nav-menu" width="90%">
    <table>
        <tr>
            <td >
                <table align="center">
                    <td>Menu -></td>
                    <td><a th:href="@{/}">Home</a></td>
                    <td><a th:href="@{/books}">Products</a></td>
                    <td><a th:href="@{/login}">Login</a></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/users}">Users</a></td>
                    <td sec:authorize="isAuthenticated()"><a th:href="@{/bucket}">Bucket </a></td>
                </table>
            </td>
            <td align="right">
                <div sec:authorize="isAuthenticated()">
                    <div>
                        Hello, <a th:href="@{/users/profile}"><span sec:authentication="principal.username"></span></a>
                    </div>
                    <div>
                        <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <div>
                        Hello, Unknown. Please <a th:href="@{/login}">Log in</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>